.navbar {
    overflow:hidden;
    background-color: lightblue;
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
}
.navar a{
    float:top;
    display:block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    border:25px black;
  }
  

  
  /* Add a card effect for articles */
  .card {
    background-color: lightskyblue;
    padding: 20px;
    margin-top: 20px;
    width:700px
  
  }
  .donkey{
    background-color: greenyellow;
    padding:20px;
    margin-top: 20px;
    width:700px;
  }
  .blake{
    background-color: red;
    padding: 20px;
    margin-top:20px;
    width:900px;

  }
  .pizza {
    background-color: rebeccapurple;
    padding: 20px;
    margin-top: 20px;
    width:900px;
  

  }
  

  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  
  }
img{
  width: 50%;
  height: auto;
  margin: 10px;
  /* float: left; */
}

.wrapper{
  display:flex;
  /* grid-template-columns: 50% 50%; */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 75px 75px 75px 75px;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-column: span 4;
  background-color:#F5C6D6;
}
.item2{
  background-color: #EE2E84;
}
.item3{
  background-color: #EE2E84;
}
.item4{
  background-color: #EE2E84;
}
.item5{
  background-color: #EE2E84;
}
.item6, .item7{
  background-color: #85CFD8;
  grid-column: span 2;
}
.item8{
  background-color: #8DC63F;
  grid-column: span 3;
}
.item9{
  grid-column: span 1;
  background-color: #E76E34;
}




